.cardstyle {
    background-color: #FFFFFF !important;
    color: black !important;
}

.card a:hover {
    color: green !important;
}

.hide {
    display: none;
}

.card :hover .hide {
    transition: 1s;

}

.radi {
    border-radius: 15px;
}

.a {
    margin-top: 10px;
}

.card-border:hover {
    border-color: green;
    border: 1px solid green;
}

.bgimg {
    background-image: url(../assets/learning-platform-bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}